<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/css/style.css" rel="stylesheet" type="text/css"/>
    <title>My Ghibli Library</title>
</head>

<header>
    <div class="header">
        <img class="headerImg" src="/public/logo.svg"/>
    </div>
</header>
<body>
    <h1>all ghibli films</h1>
    <ul>
        <% movies.forEach(function(movie) { %>
            <li>
                <div class="movieContainer">
                    <img class="image"
                        src="<%= movie.url %>">
                    <div>
                        Title: <%= movie.title %><br>
                            Director: <%= movie.director %><br>
                                Producer: <%= movie.producer %><br>
                                Description: <%= movie.description %>
                    </div>
                </div>
            </li>
            <% }); %>
    </ul>
</body>
<footer>
    <div class="footer">
        <p>API Used</p>
        <img class="createdImage" src="created.svg">
    </div>
</footer>

</html>