<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/css/style.css" rel="stylesheet" type="text/css" />
    <title>My Ghibli Library</title>
</head>

<header>
    <div class="header">
        <img class="headerImg" src="/public/logo.svg" />
        <input type="text" name="search" class="searchBar" placeholder="Find a film..." autofocus>
    </div>
</header>

<body>
    <div class="xf">
        <img class="addFilmImg" src="/public/add.svg">
        <form action="/add" method="post" class="filmForm">
            <div class="form">
                <div class="left">
                    <div class="inputContainer">
                        <label for="title">Title of Film (English)</label>
                        <input type="text" name="title" autofocus>
                    </div>
                    <div class="inputContainer">
                        <label for="director">Director</label>
                        <input type="text" name="director">
                    </div>
                    <div class="inputContainer">
                        <label for="producer">Producer</label>
                        <input type="text" name="producer">
                    </div>
                </div>
            </div>
            <div class="middle">
                <div class="inputContainer">
                    <label for="running-time">Running time (minutes)</label>
                    <input type="text" name="running-time">
                </div>
                <div class="inputContainer">
                    <label for="description">Synopsis</label>
                    <textarea type="text" name="description">
                        </textarea>
                </div>
            </div>
                <div class="right">
                        <div class="inputContainer">
                            <label for="release-year">Release Year</label>
                            <input type="text" name="release-year">
                        </div>
                        <div class="inputContainer">
                            <label for="url">Image link</label>
                            <input type="text" name="url">
                            <button type="submit" class="addButton">Add Film</button>
                        </div>
                </div>
        </form>
    </div>
    <div class="movieListContainer">
        <img class="addFilmImg" src="/public/all.svg">
        <ul>
            <% movies.forEach(function(movie) { %>
                <li>
                    <div class="movieContainer">
                        <img class="image" src="<%= movie.url %>">
                        <div>
                            Title: <%= movie.title %><br>
                                Director: <%= movie.director %><br>
                                    Producer: <%= movie.producer %><br>
                                        Description: <%= movie.description %>
                        </div>
                        <div onclick="addFavourite()">
                            <img class="heartImg" src="/public/heart.png">
                        </div>
                        <form action="/delete" method="post">
                            <input type="checkbox" onchange="this.form.submit()" name="deleteItemId" value="<%= movie.id %>">
                          </form>
                    </div>
                </li>
                <% }); %>
        </ul>
    </div>
    <script>
        function addFavourite() {
            console.log("hello")
        }
    </script>

</body>
<footer>
    <div class="footer">
        <img class="createdImage" src="/public/created.svg">
    </div>
</footer>

</html>