<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/css/style.css" rel="stylesheet" type="text/css" />
    <title>My Ghibli Library</title>
</head>

<header>
    <div class="header">
        <img class="headerImg" src="/public/logo.svg" />
    </div>
</header>

<body>
    <div class="xf">
        <img class="addFilmImg" src="/public/add.svg">
        <!--Form to add content-->
        <form action="/add" method="post" class="filmForm">
            <div class="form">
                <div class="left">
                    <div class="inputContainer">
                        <label for="title">Title of Film (English)</label>
                        <input type="text" name="title" autofocus required>
                    </div>
                    <div class="inputContainer">
                        <label for="director">Director</label>
                        <input type="text" name="director" required>
                    </div>
                    <div class="inputContainer">
                        <label for="producer">Producer</label>
                        <input type="text" name="producer" required>
                    </div>
                </div>
            </div>
            <div class="middle">
                <div class="inputContainer">
                    <label for="running-time">Running Time (Minutes)</label>
                    <input type="text" name="running-time" required>
                </div>
                <div class="inputContainer">
                    <label for="description">Synopsis</label>
                    <textarea type="text" name="description" required>
                        </textarea>
                </div>
            </div>
            <div class="right">
                <div class="inputContainer">
                    <label for="release-year">Release Year</label>
                    <input type="text" name="release-year" required>
                </div>
                <div class="inputContainer">
                    <label for="url">Image Link</label>
                    <input type="text" name="url">
                    <div class="addFilmButton">
                        <button type="submit" class="addButton">Add Film</button>
                    </div>
                </div>
            </div>
        </form>


    </div>
    <div class="movieListContainer">
        <img class="allFilmImg" src="/public/all.svg">
        <ul>
            <% movies.forEach(function(movie) { %>
                <li>
                    <div class="movieContainer">
                        <img class="movieImage" src="<%= movie.url %>">
                        <div id="title<%=movie.id%>" class="movieInfo">
                            <div class="movieTitle"><%= movie.title %><br></div>
                                Director: <%= movie.director %><br>
                                    Producer: <%= movie.producer %><br>
                                        Release Year: <%= movie.release_date %><br>
                                            Running Time (Minutes): <%= movie.running_time %><br><br>
                                                <%= movie.description %>
                        </div>
                        <div>
                            <form class="edit" action="/edit" method="post" id="input<%=movie.id%>" hidden="true">
                                <input type="hidden" name="updatedMovieId"
                                    value="<%= movie.id %>"><!--keep this, need this to pass over id-->
                                <div class="inputContainer">
                                    <label for="title">Title of Film (English)</label>
                                    <input type="text" name="updatedMovieTitle" autocomplete="off" autofocus="true" required/>
                                </div>
                                <div class="inputContainer">
                                    <label for="director">Director</label>
                                    <input type="text" name="updatedMovieDirector" autocomplete="off" required>
                                </div>
                                <div class="inputContainer">
                                    <label for="producer">Producer</label>
                                    <input type="text" name="updatedMovieProducer" required>
                                </div>
                                <div class="inputContainer">
                                    <label for="running-time">Running Time (Minutes)</label>
                                    <input type="text" name="updatedMovieRunningTime" required>
                                </div>
                                <div class="inputContainer">
                                    <label for="description">Synopsis</label>
                                    <textarea type="text" name="updatedMovieDescription" required>
                                        </textarea>
                                </div>
                                <div class="inputContainer">
                                    <label for="release-year">Release Year</label>
                                    <input type="text" name="updatedMovieReleaseYear" required>
                                </div>
                                <div class="inputContainer">
                                    <label for="url">Image Link</label>
                                    <input type="text" name="updatedMovieUrl" required>
                                </div>
                                <button id="done<%=movie.id%>" class="editButton" type="submit" hidden>Update</button>
                                <button onclick="closeForm('<%=movie.id%>')" class="closeButton">Close Form</button>
                            </form>
                            <button id="edit<%=movie.id%>" class="editButton"
                                onclick="handler('<%=movie.id%>')">Update</button>
                        </div>
                        <!-- <div onclick="addFavourite()">
                            <img class="heartImg" src="/public/heart.png">
                        </div> -->
                        <form action="/delete" method="post" id="deleteForm<%= movie.id %>">
                            <input type="hidden" name="deleteMovieId" value="<%= movie.id %>">
                            <button type="button" class="delete" onclick="confirmDelete('<%= movie.id %>')">Delete</button>
                        </form>
                        
                    </div>
                </li>
                <% }); %>
        </ul>
    </div>
    <script>
        function handler(id) {
            document.getElementById("title" + id).setAttribute("hidden", true)
            document.getElementById("edit" + id).setAttribute("hidden", true)
            document.getElementById("done" + id).removeAttribute("hidden")
            document.getElementById("input" + id).removeAttribute("hidden")
        }

        function confirmDelete(movieId) {
    if (confirm("Are you sure you want to delete this movie?")) {
        document.getElementById("deleteForm" + movieId).submit();
    }
}

        function closeForm(id) {
            document.getElementById("input" + id).setAttribute("hidden", true);
            document.getElementById("edit" + id).removeAttribute("hidden", true);
        }
    </script>

</body>
<footer>
    <div class="footer">
        <img class="createdImage" src="/public/created.svg">
    </div>
</footer>

</html>